

@media screen and (max-width: 768px) {

    .portada{
        height: max-content;
        display: flex;
        padding: 50px 0;
    }

    .invert {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-collapse{
        background-color: #FFD4DB;
        border-radius: 10px;
    }

    .container-fluid{
        gap: 10px;
    }

    
}


/*Componente Item*/
.cardProducto{
    width: 18rem;
    margin: 8px;
    
}

/*Item Detail*/

.card_fila{
    display: flex;
    flex-direction: row;
}

/*ItemListContainer*/
.cardProductos{
    margin: 8px;
    align-items:center;
    justify-content: center;
}

.boton_cart{
    border: none;
    background-color: white;
    width: 3px;
}

.img_detail{
    width: 2.6rem;
    margin-left: 1.5rem;
    
}

.boton_contador{
    width: 1.2rem;
    margin: 5px;
    border-color: #D3B5E5;
}

.boton_agregar{
    background-color: #D3B5E5;
    border-color: #D3B5E5;
}

.darkMode{
    background-image: url(../../public/img/dark.jpg);
}

.nube_promo{
    background-color: transparent !important;
}