

@media screen and (max-width: 768px) {

    .invert {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-collapse{
        background-color: #FFD4DB;
        border-radius: 10px;
    }

    .container-fluid{
        gap: 10px;
    } 

    .photo{
        width: unset;
    }

    .portada{
        font-size: 16px;
        text-align: center;
    }

}

/*Componente Item*/
.cardProducto{
    width: 18rem;
    margin: 8px;
    
}

/*Item Detail*/

.card_fila{
    display: flex;
    flex-direction: row;
}

/*ItemListContainer*/
.cardProductos{
    margin: 8px;
    align-items:center;
    justify-content: center;
}

.cardProducto:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px rgb(224, 135, 202);
    transition: transform .5s linear;
}

.boton_cart{
    border: none;
    background-color: white;
    width: 3px;
}

.img_detail{
    width: 2.6rem;
    margin-left: 1.5rem;
    
}

.boton_contador{
    width: 1.2rem;
    margin: 5px;
    border-color: #D3B5E5;
}

.boton_agregar{
    background-color: #D3B5E5;
    border-color: #D3B5E5;
}

.darkMode{
    background-image: url(../../public/img/dark.jpg);
}

.nube_promo{
    background-color: transparent !important;
}

.carousel-inner{
    width: 100%;
    margin: 0 auto;
}

.portada{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: revert;
    color: #FFD4DB;
}

.ver_carro{
    background-color: #D3B5E5; 
    font-weight: 600;
    margin-bottom: 10px;
}

.ver_carro:hover{
    background-color: #FFD4DB;
}

.ver_producto,
.ver_tienda{
    background-color: #D3B5E5; 
    font-weight: 600;
    margin-bottom: 10px;
}


.container_boton{
    text-align: center;
    
}

#agregar,
.nav_ver,
.ver_tienda,
.ver_producto,
.btn_eliminar,
.btn_limpiar,
.ver_carro,
.vacio,
.card_tres{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    text-align: center;
}

.card_tres:hover{
    color: black;
}

.nav_ver:hover,
.ver_tienda:hover{
    color:#FFD4DB;
}
#agregar:hover{
    color:#FFD4DB;
}

#agregar{
    margin-right: 4px;
}

.contenedor_contador{
    margin-top: 5px;
}

.card{
    margin-top: 8px;
}


.btn_limpiar,
.btn_eliminar{
    background-color: #FFD4DB;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn_limpiar:hover,
.btn_eliminar:hover{
    background-color: rgb(216, 25, 25);
}

.contenedor_vacio{
    text-align: center;
}


