
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-image: url(../public/img/606.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    transition: all ease 2s;
}